//varibales
$container-border-color:red;
$element-border-color:green;
$article-color-red:red;
$article-color-blue:blue;
$header-color:green;
$border-style-solid:solid;
$font-size:1rem;
$border-color-red:red;
$border-color-green:green;